{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 40.3496001696828,
    "longitude": -80.00324070453645,
    "elevation": 370,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/New_York",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 100
  }
}